body {
    margin: 0;
    padding: 10px;
    font-family: Arial, sans-serif;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #fff;
    padding: 75px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 18px 0;
    border-radius: 15px;
    border: 1px solid #aaa;
}

form button {
    width: 109%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
}